/* Proprietà del contenitore generico div */

div.bold-text {
    font-weight: 700;
}

/* Proprietà della classe alert-text,
segnalata in html come <div class="alert-text"> */

.alert-text {
    color: red;
}

/* Un elemento può appartenere a più classi:
<div class="alert-text severe-alert" */

/* id identifica un singolo elemento
in questo caso si usa il simbolo # */

#title {
    background-color: red;
}

/* Raggruppare dichiarazioni in comune tra classi */

.read,
.unread {
    color: white;
    background-color: black;
    /* several unique declarations */
}

.subsection.header {
    color: red;
}
  
.subsection#preview {
    color: blue;
}

p {
    /* hex example: */
    color: #1100ff;
    /* rgb example: */
    color: rgb(100, 0, 127);
    /* hsl example: */
    color: hsl(15, 82%, 56%);
}

img {
    height: auto;
    width: 500px;
}

/* E' sempre meglio esplicitare le proprietà di img */

/*
Gerarchia di CSS
1. ID selectors (più specifici)
2. Class selectors
3. Type selectors
*/

/* rule 1 */
* {
    color: black;
}
  
/* rule 2 */
  h1 {
    color: orange;
}

/* Qui rule 2 è più specifica */

/* Aggiungere CSS a una pag. HTML

<head>
  <link rel="stylesheet" href="styles.css">
</head>

*/

/* styles.css */

div {
    color: white;
    background-color: black;
}
  
p {
    color: red;
}

/* CSS può essere anche interno a una pagina HTML

<style> **CSS** </style>

Anche `inline` come in:

<body>
  <div style="color: white; background-color: black;">...</div>
</body>

*/

